<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="root-menu" label="Karen OS">
    <item label="Terminal">
      <action name="Execute"><command>xterm</command></action>
    </item>
    <item label="File Manager">
      <action name="Execute"><command>pcmanfm</command></action>
    </item>
    <item label="Reload Desktop">
      <action name="Reconfigure"/>
    </item>
    <separator/>
    <item label="Restart Karen Shell">
      <action name="Execute"><command>sh -c 'pkill -f karen_shell.py; sleep 1; nohup python /opt/karen-linux/karen_shell.py >>/var/log/karen-session.log 2>&1 &'</command></action>
    </item>
    <separator/>
    <item label="Reboot">
      <action name="Execute"><command>systemctl reboot</command></action>
    </item>
    <item label="Power Off">
      <action name="Execute"><command>systemctl poweroff</command></action>
    </item>
  </menu>
</openbox_menu>
